header{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px;
  border: 2px black solid;
}

.this{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.right-side{
  text-align: center;
  margin: 5%;
  flex-basis: 100%;
}

.left-side{
  margin-left: 30%;
}

.blue-box{
  background-color: lightblue;
  padding: 10px;
  margin-top: 25px;
}

.bottom-box{
  background-color: blue;
  padding: 50px;
  border: 2px black solid;
}

.blue-background{
  background-color: lightblue;
  padding: 30px;
}

.article2{
  text-align: left;
}