header{
  background-color: midnightblue;
  color: white;
  text-align: center;
  border: 2px black solid;
}

.this{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.right-side{
  text-align: center;
  margin: 5%;
  flex-basis: 100%;
}

.left-side{
  margin-left: 30%;
}

.blue-box{
  background-color: lightblue;
  padding: 10px;
  margin-top: 35px;
  margin-left: -5%;
  margin-right: -5%;
}

.bottom-box{
  background-color: midnightblue;
  padding: 10%;
  border: 2px black solid;
}

.blue-background{
  background-color: rgb(100, 100, 255);
  padding: 25px;
  margin: -3%;
  color: white;
  margin-block-end: -1em;
}

.article2{
  text-align: left;
}

.article2 p{
  font-size: 0.75em;
  margin-block-start: -1.5em;
}